.login-container {
  //background-color: #0c4c9c;
  background-image: url('../../../../assets/images/wave-background-2.png');
  background-size: cover;
}

.login-logo {
  width: 60px;
  margin: 8px;
}

.sign-in-buttons {
  span {
    color: #424242;
  }
}
